In [3]:
with open("filecopy.py","r") as file:
    data=file.read()
    print(data)

import shutil
import os

shutil.copy("functions.ipynb","functions/functions.ipynb")
os.system("dir")
os.system("date")

In [4]:
with open("logs/info.log","a") as file:
    file.write("information written \n")
    file.write("new line written \n")

In [7]:
import json

with open("people.json","r") as file:
    people=json.load(file)
    print(people)
    print(people[0])
    print(people[0]['name'])

[{'sno': 1, 'name': 'Ravi', 'city': 'Chennai'}, {'sno': 2, 'name': 'Lokesh', 'city': 'Mumbai'}, {'sno': 3, 'name': 'Krishna', 'city': 'Chennai'}]
{'sno': 1, 'name': 'Ravi', 'city': 'Chennai'}
Ravi

In [8]:
import json

data = {"empno":1 ,"name" : "Johny", "Desingation": "Manager","salary":1000}

with open("emp.json","w") as file:
    json.dump(data,file,indent=4)

In [9]:
import yaml

data = {
    "name": "Adam",
    "age": 38,
    "skills" : ["Java","SQL","AWS"],
    "experience" : [
        {"company":"ABC Technologies","technology":"Java","years":3},
        {"company":"RK Technologies","technology":"SQL","years":3},
        {"company":"NTK Technologies","technology":"AWS","years":3}
    ]
}

with open("profile.yml","w") as file:
    yaml.dump(data,file)

In [10]:
with open("profile.yml","r") as file:
    data=yaml.safe_load(file)
    print(data)

{'age': 38, 'experience': [{'company': 'ABC Technologies', 'technology': 'Java', 'years': 3}, {'company': 'RK Technologies', 'technology': 'SQL', 'years': 3}, {'company': 'NTK Technologies', 'technology': 'AWS', 'years': 3}], 'name': 'Adam', 'skills': ['Java', 'SQL', 'AWS']}